.question-header {
  display: flex;
  text-align: center;
  width: 100%;
  height: 110px;
  background: black;
  color: white;
  align-content: center;
  align-items: center;
  padding: 0 15px;
}
.question-header span {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  width: 100%;
}

.choice-element {
  background: black;
  height: 176px;
  box-sizing: border-box;
  background-size: cover !important;
  cursor: pointer;
  transition: all ease 0.3s;
  opacity: 1;
}
.choice-element:hover {
  opacity: 0.8;
  transition: all ease 0.3s;
}

.choice-element span {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 70px;
  font-size: 20px;
}

.width-33 {
  width: 33.333%;
}
.width-50 {
  width: 50%;
}

.question-choices {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  color: white;
}
